.App {
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.nav-bar {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.sections {
}

.heading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.heading__name {
  font-size: 4rem;
}

.project-card__image {
  height: 500px;
}

.project-card .project-card__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 5px;
  color: #ffffff;
  background: #444343;
  text-decoration: none;
  text-align: center;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.project-card:hover .project-card__overlay {
  opacity: 0.9;
}

.project_thumbnail {
  height: 200px !important;
}

.project_image {
  max-width: 75%;
}

.project_image-typography {
  max-width: 50%;
  height: 300px !important;
}

.about {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
}
