.App {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  width: 100%;
}

.nav-bar {
  background-color: rgba(255, 255, 255, 0.8) !important;
}

.nav-link {
  color: #051d52 !important;
  font-size: 20px !important;
  margin-left: 10px !important;
}

.nav-link:hover {
  color: #517089 !important;
}

.nav-bar__name {
  font-weight: bold !important;
  color: #517089 !important;
  font-size: 24px !important;
}

.nav-bar__name:hover {
  color: #051d52 !important;
}

.nav-bar__container {
  margin-left: 100px !important;
  margin-right: 10px !important;
}

@media only screen and (max-width: 450px) {
  .nav-bar__container {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
